<%- include("../../partials/header.ejs") %>
  <%- include("../../partials/homeNavbar.ejs") %>

    <body class="text-bg-dark" style="background-image: url('../../img/SvWWN.png'); background-size: cover;">
      <div class="container card w-100 shadow" style="margin-top: 2vh;">
        <div class="card-header">

        </div>
        <div class="card-doby">
          <% result.articles.rows.forEach( article=> { %>
            <div class="card mt-2">
              <div class="card-header">
                <h2>
                  <%= article.title %>
                </h2>
              </div>
              <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
              </div>
            </div>
            <br>
            <% }) %>
              <div class="row">
                <div class="col col-12">

                  <% if(result.page> 2) { %>
                    <a style="float: left;" href="/articles/page/<%= result.page - 1 %>">
                      << Prev</a>
                  <% } else if(result.page==2) { %>
                      <a class="btn mt-2" onmouseover="this.style.backgroundColor='rgb(255, 125, 89)'; this.style.color= 'white';" onmouseout="this.style.backgroundColor='rgb(255,255,255)'; this.style.color= 'black';" style="float: left;" href="/">
                        << Prev</a>
                      <% } %>
                  <% if(result.next) { %>
                    <a class="btn mt-2" onmouseover="this.style.backgroundColor='rgb(255, 125, 89)'; this.style.color= 'white';" onmouseout="this.style.backgroundColor='rgb(255,255,255)'; this.style.color= 'black';" style="float: right;" href="/articles/page/<%= result.page + 1%>">Next >></a>
                  <% } %>
                </div>
                <br>
              </div>
        </div>




      </div>
    </body>

    <%- include("../../partials/footer.ejs") %>