<%- include("partials/header.ejs") %>
  <%- include("partials/homeNavbar.ejs") %>

    <body class="text-bg-dark" style="background-image: url('../img/SvWWN.png'); background-size: cover;">
      <div class="container w-100 card shadow" style="margin-top: 14vh;">
        <div class="card-body container-fluid">
          <div class="row col-12 justify-content-between">
            <div class="col-6 d-flex flex-column justify-content-center align-items-center text-bg-secondary">
              <img class="img-fluid" style="height: 60%;" src="../img/home.jpg" alt=""><br>
              <a class="nav-link"
                href="https://br.freepik.com/vetores-gratis/publicar-ilustracao-do-conceito-do-artigo_12704404.htm#from_view=detail_alsolike">Imagem
                de storyset</a> no Freepik
            </div>
            <div class="card row-cols-1" style="width: 34vw;">
              <h4 class="fs-2 col-12 text-center mt-2" style="color: rgb(255, 125, 89);">Artigos</h4>
              <div class="card-body row row-cols-2">
                <% articles.forEach( article=> { %>
                  <div class="col-6">
                    <div class="card my-2">
                      <div class="card-header" style="height: 10vh;">
                        <h1 class="fs-5">
                          <%= article.title %>
                        </h1>
                      </div>
                      <div class="card-body d-flex" style="height: 10vh;">
                        <div class="align-items-end">
                          <a href="/<%= article.slug %>" style="border: 1px solid rgb(255, 125, 89);" class="btn"
                            onmouseover="this.style.backgroundColor='rgb(255, 125, 89)'; this.style.color= 'white';"
                            onmouseout="this.style.backgroundColor='rgb(255,255,255)'; this.style.color= 'black';">Ler
                            artigo</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>
              <div class="row">
                <div class="col col-12 mb-1">
                  <a class="btn" style="float: right;"
                    onmouseover="this.style.backgroundColor='rgb(255, 125, 89)'; this.style.color= 'white';"
                    onmouseout="this.style.backgroundColor='rgb(255,255,255)'; this.style.color= 'black';"
                    href="/articles/page/2">Next >></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

    <%- include("partials/footer.ejs") %>